.gcloudignore
.git
.gitignore

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

backend/venv/
backend/outputs/
backend/*.mp4
backend/generate_humpty*.py
backend/combine*.py
backend/humpty*.mp4

frontend/node_modules/
frontend/dist/
frontend/dist-electron/
